# Virtual Environment
.venv/
# Editor settings
.vscode/
# Python cache files
__pycache__/
*.pyc
# macOS and Jupyter clutter (convenience for Mac users)
.DS_Store
.ipynb_checkpoints/
# Generated networks (keep folder and example image)
networks/*
!networks/.gitkeep
# Keep as an example
!networks/network_example.png
